@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/*ESTILOS GERAIS*/
    *{
        box-sizing: border-box;
    }
    body{
        width: 100vw;
        max-width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #000000;
        font-family: 'Gugi', cursive;
        color: white;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    h4,h5,h6{
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
    @media (min-width: 780px) and (max-width: 1025px){
        h1{
            font-size: 26px;
        }
        h2{
            font-size: 24px;
        }
        h3{
            font-size: 20px;
        }
        h4,h5,h6{
            font-size: 17px;
        }
        p{
            font-size: 16px;
        }
    }
    @media (min-width: 1026px){
        h1{
            font-size: 29px;
        }
        h2{
            font-size: 27px;
        }
        h3{
            font-size: 23px;
        }
        h4,h5,h6{
            font-size: 20px;
        }
        p{
            font-size: 19px;
        }
    }
    .conteiner-pai{
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .conteudo1,.conteudo2,.conteudo3,.conteudo4{
        margin-top: 1vh;
        margin-bottom: 2vh;
    }
/*FIM ESTILOS GERAIS*/

/*HEADER*/

    header{
        width: 100%;
        height: 5vh;
        background-color: #1C1C1C;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }@media (min-width: 780px) and (max-width: 1024px){
        header{
            width: 100%;
            height: 7vh;
        }
        .nav-bar-header>ul>li>a{
            font-size: 30px;
        }
    }
    @media (min-width: 1025px){
        header{
            width: 100%;
            height: 10vh;
        }
    }
    header>.logo-header,.nav-bar-header{
        display: flex;
        flex-wrap: wrap;
    }
    .logo-header{
        width: 25%;
        margin-left: auto;
    }
    .nav-bar-header{
        width: 65%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .logo-header>img{
        margin: auto;
        width: auto;
        max-width: 90%;
    }
    .nav-bar-header>ul{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .nav-bar-header>ul>li{
        list-style: none;
        margin-left: 2vw;
        font-size: 12px;
    }@media (min-width: 1025px){
        .nav-bar-header>ul>li{
            font-size: 18px;
        }
    }
    .nav-bar-header>ul>li:last-child{
        margin-left: 0;
    }
    .nav-bar-header>ul>li>a{
        text-decoration: none;
        color: white;
        padding: 5px 0px;
    }
    .nav-bar-header>ul>li>a:hover{
        text-decoration: underline;
    }

/*FIM HEADER*/

/*CONTEUDO 1*/
    .conteudo1{
        width: 100%;
        height: 20vh;
        margin: auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    @media (min-width: 780px) and (max-width: 1025px){
        .conteudo1{
            width: 100%;
            height: 32.5vh;
        }
    }
    @media (min-width: 1026px){
        .conteudo1{
            width: 100%;
            height: 89vh;
        }
    }
    /* galeria */

        .gallery{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 90%;
            max-height: 28vw;
            overflow: hidden;
        }
        .gallery:before,.gallery:after{
            display: block;
            content: "";
            position: absolute;
            top: 0;
            width: 20%;
            height: 100%;
            z-index: 3;
        }
        .gallery:before{
            left: 0;
            background:  linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        }
        .gallery:after{
            right: 0;
            background:  linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        }
        .gallery__stream{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 100%;
        }
        .gallery__item{
            position: absolute;
            width: 70%;
            height: 100%;
            transition: 1s all ease;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 5px;
        }
        .gallery__item:nth-child(1){
            left: 0;
            z-index: 1;
            transform: translateX(-100%) scale(.8);
        }
        .gallery__item:nth-child(2){
            left: 0;
            z-index: 2;
            transform: translateX(-50%) scale(.8);
        }
        .gallery__item:nth-child(3){
            left: 50%;
            z-index: 4;
            transform: translateX(-50%) scale(1);
        }
        .gallery__item:nth-child(4){
            left: 100%;
            z-index: 2;
            transform: translateX(-50%) scale(.8);
        }
        .gallery__item:nth-child(n+5){
            left: 100%;
            z-index: 1;
            transform: scale(.8);
        }

    /* controles */
        .gallery__prev,.gallery__next{
            position: absolute;
            top: 50%;
            z-index: 4;
            width: 50%;
            height: 100%;
            transform: translateX(-50%) translateY(-50%) scale(.8);
            cursor: pointer;
        }
        .gallery__prev{
            left: 0;
        }
        .gallery__next{
            left: 100%;
        }

    /* Backgrounds */
        .bg-1{
            background-image: url("../imagens/index/planeta_1.jpg");
        }
        .bg-2{
            background-image: url("../imagens/index/nave_1.jpg");
        }
        .bg-3{
            background-image: url("../imagens/index/nave_2.jpg");
        }
        .bg-4{
            background-image: url("../imagens/index/planeta_5.jpg");
        }
        .bg-5{
            background-image: url("../imagens/index/astronauta_2.jpg");
        }
        .bg-6{
            background-image: url("../imagens/index/astronauta_1.jpg");
        }
        .bg-7{
            background-image: url("../imagens/index/planeta_2.jpg");
        }

/*FIM CONTEUDO 1*/


/*CONTEUDO 2*/
        /*.conteudo2{
            background-color: rgba(11,11,11,.8);
        }*/
    .conteiner-servicos-oferecidos{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .titulo-conteudo2>h2{
        text-align: center;
        margin-top: 1vh;
        margin-bottom: .5vh;
    }
    .servicos-oferecidos{
        width: 95%;
        height: 17.5vh;
        margin-bottom: 2vh;
        /*border: darkslategray solid 2px;
        background-color: rgba(28,28,28,.6);*/
    }
    .imagens-conteudo1{
        display: block;
        width: 100%;
        float: left;
        position: relative;
    }
    .imagens-conteudo1>.img-slider{
        display: block;
        float: left;
        width: 100%;
        height: auto;
        /*max-height: 100%;*/
        background-size: cover;
        background-position: center;
        position: absolute;
        transition-property: all;
        transition-duration: .8s;
        transition-timing-function: ease-in;
        transition-duration: 0.5s;
        opacity: 0;
    }
    .imagens-conteudo1>.slider-ativo{
        opacity: 1;
    }
    .descricao-conteudo1{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50px;
        color: white;
        background-color: rgba(0, 0, 5, .6);

    }
    .descricao-conteudo1>.titulo{
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        margin-left: auto;
        margin-right: auto;
    }
    /*
    .servicos-oferecidos>a{
        width: 80%;
        padding-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    }
    .servicos-oferecidos>a>img{
        width: 100%;
    }
    .servicos-oferecidos>h3{
        width: 100%;
        /*margin-top: 1vh;
        margin-bottom: .3vh;*/
        /*margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-left: auto;
        text-align: center;
        z-index: 1;
    }
    .servicos-oferecidos>p{
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: .5vh;
        margin-left: .5vh;
        text-align: start;
    }*/
    @media (min-width: 780px) and (max-width: 1024px){
        .servicos-oferecidos{
            width: 30%;
            height: 9.02vh;
        }
    }
    @media (min-width: 1025px){
        .servicos-oferecidos{
            width: 30%;
            height: 25.7vh;
        }
    }
/*FIM CONTEUDO 2*/


/*FCONTEUDO 3*/
    .conteudo3{
        width: 100%;
    }
    .midia-conteudo3{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .midia-conteudo3>div>h2{
        width: 80%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .midia-conteudo3>.informacoes-iframe-youtube{
        width: 80%;
    }
    .midia-conteudo3>.iframe{
        width: 90%;
        max-width: 100%;
        max-height: 100%;
    }
/*FIM CONTEUDO 3*/


/*CONTEUDO 4*/

    .conteudo4{
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(11,11,11,.7);
    }
    .newsletter,.texto-newsletter{
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

        /*espaço newlatter*/
        .texto-newsletter>h2,p{
            margin: 0;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        /*.texto-newsletter>h2{
            font-size: 15px;
        }
        .texto-newsletter>p{
            font-size: 14px;
        }*/
        .form-newsletter{
            margin: 0;
            text-align: center;
            padding: 0;
        }
        .form-newsletter>.input-email{
            margin-top: 5px;
            margin-bottom: 3px;
        }
        .form-newsletter>form>.chekbox-termos-condicoes{
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 70%;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
        .form-newsletter>form>.chekbox-termos-condicoes>h5{
            margin-top: auto;
            margin-bottom: auto;
            letter-spacing: 2px;
            font-size: 9px !important;
        }
        .input-email{
            border: none;
            width: 65%;
            height: 4vh;
        }
        .div-do-botao-newslater{
            margin-bottom: 2vh;
        }
        .botao-newslatter{
            background-color: whitesmoke;
            border: none;
            padding: 6px 13px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }@media (min-width: 780px){
            .conteudo4{
                margin-top: 4vh;
            }
            .botao-newslatter{
                padding: 10px 15px;
            }
        }@media (min-width: 780px) and (max-width: 1024px){
            .conteudo4{
                margin-top: 4vh;
            }
            .input-email{
            width: 30%;
            height: 2.5vh;
            }
            .form-newsletter>form>.chekbox-termos-condicoes{
                width: 26%;
                margin-top: 1vh;
                margin-bottom: 1vh;
            }
        }
        @media (min-width: 1025px){
            .conteudo4{
                margin-top: 4vh;
            }
            .input-email{
                width: 20%;
                height: 5vh;
            }
            .form-newsletter>form>.chekbox-termos-condicoes{
                width: 20%;
                margin-top: 1vh;
                margin-bottom: 1vh;
            }
        }
        .botao-newslatter:hover{
            background-color:gray;
            color: honeydew;
        }
        .newsletter>.redes-sociais{
            width: 90%;
        }
        .redes-sociais>ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            padding: 0;
        }
        .redes-sociais>ul>li{
            margin: 0;
        }
    /*espaço newlatter*/
/*FIM CONTEUDO 4*/


/*FOOTER*/
    footer{
        width: 100%;
        background-color: #1C1C1C;
    }
    .alunos{
        padding-top: 1.5vh;
        padding-bottom: 1vh;
        margin-top: 1vh;
    }
    .footer-descricao{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo-spacetrip{
        display: flex;
        margin: auto;
        width: 25%;
        flex-grow: 1;
    }
    .logo-spacetrip>img{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .copy{
        display: flex;
        width: 40%;
        flex-grow: 2;
    }
    .copy>p{
        text-align: center;
        margin: auto;
        font-size: 20px !important; 
    }
    .logo-DH{
        display: flex;
        width: 25%;
        flex-grow: 1;
    }
    .logo-DH>img{
        margin-left: auto;
        margin-right: auto;
        width: 80%
    }
    footer>.alunos>h5{
        font-size: 20px !important;
        text-align: center;
        margin: auto;
        margin-bottom: 1vh;
    }
    footer>.alunos>ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding:0;
    }    @media (min-width: 380px){
        footer>.alunos>ul{
            flex-direction: row;
        }
    }
    footer>.alunos>ul>li{
        text-align: center;
        list-style: none;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    footer>.alunos>ul>li:last-child{
        border-left: 0;
    }
    footer>.alunos>ul>li>a{
        text-decoration: none;
        color: white;
    }
    footer>.alunos>ul>li>a:hover{
        text-decoration: underline;
    }
/*FIM FOOTER*/


/*RESTOS DE CÓDIGOS*/


/*h1,h2,h3,h4,h5,h6{
    color: blanchedalmond;
}
p{
    color: blanchedalmond;
}*/

/*RESTOS DE CÓDIGOS QUE PODEM SER ÚTEIS*/
/*CONTEUDO 1
    SLIDER
    .imagens-conteudo1,.descricao-conteudo1{
        display: block;
        width: 100%;
        float: left;
        position: relative;
    }
    .imagens-conteudo1>.img-slider{
        display: block;
        float: left;
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        position: absolute;
        transition-property: all;
        transition-duration: .8s;
        transition-timing-function: ease-in;
        transition-duration: 0.5s;
        opacity: 0;
    }
    .imagens-conteudo1>.slider-ativo{
        opacity: 1;
    }
    SLIDER*/

    /*DESCRIÇÃO SLIDER
    .descricao-conteudo1{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50px;
        color: white;
        background-color: rgba(0, 0, 5, .6);

    }
    .descricao-conteudo1>.titulo,.paragrafo{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .titulo>h1{
        font-size: 15px;
        text-align: center;
    }
    .paragrafo>p{
        font-size: 12px;
        text-align: start;
    }

            /*.gallery{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 90%;
            max-height: 28vw;
            overflow: hidden;
        }
        .galeria_stream{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 100%;
        }
        .galeria_item{
            position: absolute;
            width: 60%;
            height: 100%;
            transition: 1s all ease;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 5px;
        }*/

        /* itens */
        /*.galeria_item:nth-child(1){
            left: 0;
            z-index: 1;
            transform: translateX(-100%) scale(.8);
        }
        .galeria_item:nth-child(2){
            left: 0;
            z-index: 2;
            transform: translateX(-50%) scale(.8);
        }
        .galeria_item:nth-child(3){
            left: 50%;
            z-index: 4;
            transform: translateX(-50%) scale(1);
        }
        .galeria_item:nth-child(4){
            left: 100%;
            z-index: 2;
            transform: translateX(-50%) scale(.8);
        }
        .galeria_item:nth-child(n+5){
            left: 100%;
            z-index: 1;
            transform: scale(.8);
        }*/

        /* cackgrounds */
        /*.bg-1{
            background-image: url("../imagens/astronauta_1.jpg");
        }
        .bg-2{
            background-image: url("../imagens/nave_1.jpg");
        }
        .bg-3{
            background-image: url("../imagens/planeta_1.jpg");
        }
        .bg-4{
            background-image: url("../imagens/planeta_5.jpg");
        }
        .bg-5{
            background-image: url("../imagens/astronauta_2.jpg");
        }

        .bg-6{
            background-image: url("../imagens/nave_2.jpg");
        }
        .bg-7{
            background-image: url("../imagens/planeta_2.jpg");
        }*/

        /* controles das imgs*/
        /*.galeria_anterior,.galeria_proximo{
        position: absolute;
        top: 50%;
        z-index: 4;
        width: 50%;
        height: 100%;
        transform: translateX(-50%) translateY(-50%) scale(.8);
        cursor: pointer;
        }
        .galeria_anterior {
        left: 0;
        }
        .galeria_proximo{
        left: 100%;
        }*/

        /* sombras dos lados*/
        /*.galeria:before,.galeria:after{
        display: block;
        content: "";
        position: absolute;
        top: 0;
        width: 20%;
        height: 100%;
        z-index: 3;
        }
        .galeria:before{
        left: 0;
        background:  linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        }
        .galeria:after{
        right: 0;
        background:  linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        }*/
    /*estilo das imgs*/