.planet-small {
    background-size: 100%;
    width: 250px;
    height: 250px;
    transition-duration: 400ms;
    transition: ease-in-out;
    border-radius: 46%;
    box-shadow: inset -90px -90px 50px #000;
    display: inline-block;
    margin: 15px;
    cursor: url('pointer.svg');
    border: none;
}

.planet-small:hover {
    transition: ease-in-out;
    transition-duration: 600ms;
    box-shadow: none;
    text-shadow: 3px 4px 50px rgb(243, 220, 12);
    transform: translatey(5px);
}

.planet-big {
    background-size: 100%;
    width: 650px;
    height: 650px;
    transition-duration: 400ms;
    transition: ease-in-out;
    border-radius: 49%;
    box-shadow: inset -90px -90px 50px #000;
    display: inline-block;
    margin: 15px;
    cursor: url('pointer.svg');
    border: none;
    filter: drop-shadow(-15px -15px 15px rgba(247, 255, 170, 0.123));
}

.planet-big:hover {
    transition: ease-in-out;
    transition-duration: 600ms;
    text-shadow: 3px 4px 50px rgb(243, 220, 12);
    box-shadow: inset -30px -30px 50px #000;
    filter: drop-shadow(-20px -20px 15px rgba(247, 255, 170, 0.123));
}

#arid {
    background-image: url(../images/planets/Arid_Planet_correct.png);
}

#mars {
    background-image: url(../images/planets/mars.png);
}

#earth {
    background-image: url(../images/planets/earth-small.png);
}

#moon {
    background-image: url(../images/planets/moon-small.png);
}


/*disables the blue overlay when a div is touched or clicked*/

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


/* sets images as non draggable */

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}