@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
   
    font-family: 'Gugi', cursive;
    color: white;
}

header {
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 0px white;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    height: 30px;
    cursor: pointer;
}
header.logo:hover {
    content: url(../images/logo/spacetrip-logo.svg);

}

header ul {
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-right: 30px;
}
header ul :nth-child(odd) {
    font-size: 1.5em;
}

header ul :nth-child(even) {
    cursor: pointer;
}

header ul li {
    display: inline-block;
}

.about-the-planet {
margin-right: 50px;
margin-left: 50px;
display: flex;
flex-wrap: wrap;
}

.planet-description {
    position: relative;
    
}
.planet

