@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Gugi', cursive;
    color: white;
}

header {
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 0px white;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 30px;
    cursor: pointer;
}

header.logo:hover {
    content: url(../images/logo/spacetrip-logo.svg);
}

header ul {
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-right: 30px;
}

header ul :nth-child(odd) {
    font-size: 2em;
}

header ul :nth-child(even) {
    cursor: pointer;
}

header ul li {
    display: inline-block;
}

.about-the-planet {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.planet-description {
    position: relative;
}

.opinions {
    margin-top: 30px;
    width: 100%;
    background-color: #29282E;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.opinion {
    background-color: white;
    min-width: 370px;
    height: 200px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 17px;
    box-shadow: 5px 5px 10px black;
    position: relative;
    display: inline-flex;
    color: black;
    flex-direction: column;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.opinion img {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    border-radius: 50%;
    width: 100px;
    display: block;
    align-self: center;
    border: 5px solid white;
    top: -50px;
}

.opinion h4 {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.opinion .rating {
    margin-top: 10px;
    position: absolute;
    margin: auto;
    margin-top: 80px;
    justify-self: center;
    align-self: center;
    font-size: 2em;
}

.opinion p {
    font-size: 0.8em;
}

@media (max-width: 699px) {
    header .logo {}
    header ul {}
}