@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
.planet-name-big{
    font-size: 6em;
    color: white;
    font-family: 'Comfortaa', cursive;
}
.welcome {
    color: white;
    display: inline-block;
    max-width: 400px;
    position: relative;
    font-size: 4em;
    margin-right: 20px;
}
.planet-and-name {
    position: relative;
    right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin-right:30px;
}
.planet-name-big {
    position: relative;
    margin-right: -150px;
    z-index: 1;
    filter: drop-shadow( 10px 10px 5px rgb(0, 0, 0));
}
