@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
.planet-name-big{
    
}

.planet-and-name {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right:auto;
    margin-left: auto;
}
.welcome {
    color: white;
    display: inline-block;
    max-width: 400px;
    position: relative;
    font-size: 4em;
    margin-right: 20px;
}
.planet-name-big {
    font-size: 6em;
    font-family: 'Comfortaa', cursive;
    position: relative;
    margin-right: -150px;
    z-index: 1;
    filter: drop-shadow( 10px 10px 5px rgb(0, 0, 0));
}
